<template name="Footer">
  <footer class="container">
    <div class="row">
      <div class="col-md-2">
          <div class="col-sm-6 col-md-12">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-12">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
          </div>
      </div>
      <div class="col-md-2 col-md-offset-1 hide-sm">
        <h4>Airbnb Clone</h4>
        <li>Help</li>
        <li>Policies</li>
        <li>Terms &amp; Privacy</li>
      </div>
      <div class="col-md-2 col-md-offset-1 hide-sm">
        <h4>Discover</h4>
        <li>Trust &amp; Safety</li>
        <li>Site Map</li>
      </div>
      <div class="col-md-2 col-md-offset-1 hide-sm">
        <h4>Hosting</h4>
        <li>Why Host</li>
        <li>Responsible Hosting</li>
      </div>
    </div>
  </footer>
</template>
