<template name="Toolbar">
  <div class="navbar navbar-default">
    <div class="container-fluid no-padding">
      <div class="collapse navbar-collapse no-padding" id="toolbar-collapse">
        <ul class="nav navbar-nav">
            <li class="navbar-form input-daterange">
              <input type="text" class="form-control" placeholder="Checkin">
              &rarr;
              <input type="text" class="form-control" placeholder="Checkout">
            </li>
        </ul>
      </div>
    </div>
  </div>
</template>
